/* Reset some default styles */
html, body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F8FA;
}

/* Header styles */
header {
    background-color: #2C3D63;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: 40px;
    background-image: url('logo.png');
    background-size: cover;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #9F65A4;
}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #2C3D63;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        padding: 20px;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}


/* Hero section styles */
.hero {
    background-image: url('background2.jpg');
    background-size:cover;
    text-align: center;
    padding: 100px 0;
    color: #4057A2;
    background-position: center top -300px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff; /* Make the text more visible on the background */
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff; /* Make the text more visible on the background */
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4057A2;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.cta-button:hover {
    background-color: #9F65A4;
}

/* Features styles */
.features {
    background-color: #f5f5f5;
    padding: 60px 0;
    text-align: center;
    overflow: hidden; /* Add overflow hidden to prevent horizontal scroll */
}

/* Adjust the feature-list-container styles */
.feature-list-container {
    display: flex;
    justify-content: space-around; /* Evenly space items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* Adjust the width of individual feature items */
.feature-item {
    max-width: 200px; /* Set a maximum width of 200px for each feature item */
    margin-bottom: 20px; /* Add spacing between rows */
    white-space: normal; /* Allow text to wrap to the next line */
    text-align: center; /* Center text horizontally */
    position: relative; /* Create a relative positioning context */
}

.feature-list {
    list-style-type: none;
    margin-bottom: 40px;
}

/* Adjust the font size and line height for h2 elements */
.feature-bullet {
    font-size: 18px;
    line-height: 1.5; /* Increase line height for better readability */
}

.feature-images {
    display: flex;
    justify-content: center; /* Center align images horizontally */
}

.feature-image {
    width: 200px;
    height: 150px;
    margin: 10px; /* Add spacing between images */
}

.mobile-screenshot {
    width: 200px;
    height: 400px; /* Adjust the height for mobile screenshots */
    margin: 10px; /* Add spacing between images */
    border-radius: 5px; /* Add rounded corners to the images */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    transition: transform 0.2s, box-shadow 0.2s; /* Add smooth transitions */
}

.mobile-screenshot:hover {
    transform: scale(1.05); /* Scale up the image on hover */
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3); /* Enhance the shadow */
}

/* Responsive design: Adjust layout for smaller screens */
@media (max-width: 768px) {
    .feature-item {
        max-width: none; /* Remove the maximum width on smaller screens */
    }
    
    /* Adjust the font size and line height for h2 elements on smaller screens */
    .feature-bullet {
        font-size: 16px; /* Decrease font size */
        line-height: 1.6; /* Increase line height for better readability */
    }
}

/* Style the about section */
.about {
    background-color: #f5f5f5; /* Add a background color */
    padding: 60px 0;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: row; /* Display image and text in a row */
    align-items: center; /* Center align content vertically */
    justify-content: space-evenly; /* Evenly space items horizontally */
}

.about h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-image {
    width: 50%; /* Adjust the image width as needed */
    max-width: 400px; /* Set a max-width to maintain image quality */
    margin-right: 20px; /* Add spacing between image and text */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    border-radius: 5px; /* Add rounded corners to the image */
}

.about p {
    width: 50%; /* Adjust the text width as needed */
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px; /* Add spacing between image and text */
}

/* Responsive design: Adjust layout for smaller screens */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack image on top of text for small screens */
        align-items: center;
    }

    .about-image,
    .about p {
        width: 100%; /* Make image and text full width for small screens */
        margin: 10px 0; /* Add spacing between elements */
    }

}

/* Style the support section */
.support {
    background-color: #9F65A4; /* Add a background color */
    color: #fff; /* Set text color to white */
    padding: 60px 0;
    text-align: center;
}

.support h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.support p {
    font-size: 18px;
    line-height: 1.6;
}

/* Style links within the support paragraph */
.support a {
    color: #fff; /* Set link color to white */
    text-decoration: underline;
}

/* On hover, remove underline from links */
.support a:hover {
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: #2C3D63;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Apply modern styling to the main content container */
.privacy-container {
    margin: 40px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacy-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.privacy-container h2 {
    font-size: 24px;
    margin-top: 20px;
}

.privacy-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.privacy-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.address-info {
    font-size: 16px;
}

