.proposalCard {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.proposals {
  display: flex;
  flex-direction: column;
}

.button {
  width: 400px;
  color: white;
  padding: 10px;
  background-color: #2c3d63; /* Replace with your accent color */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 6px;
}

.proposalMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closedButton {
  max-height: 45px;
  color: white;
  padding: 10px;
  background: #2C3D63;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.actionButtons {
  flex: 1;
  font-weight: bold;
  background-color: #2C3D63;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.actionButtonContainer {
  display: flex;
  height: 40px;
  gap: 15px;
}

.subDescription {
  color: gray;
  margin-bottom: 10px;
  margin-top: 7px;
}

.expandButton {
  color: #2C3D63;
  margin-top: 7px;
}

.votingContainer {
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  margin-top: 7px;
  margin-bottom: 7px;
}

.votingTitle {
  font-size: 17px;
  font-weight: 600;
  color: #2C3D63;
  margin-bottom: 1px;
}

.count {
  font-weight: 600;
  color: #2C3D63;
}